<?xml version="1.0"?>
<configuration>
  <!-- WCF configuration -->
  <system.serviceModel>
    <standardEndpoints>
      <webHttpEndpoint>
        <!-- Use this element to configure the endpoint -->
        <standardEndpoint name=""/>
      </webHttpEndpoint>
    </standardEndpoints>
  </system.serviceModel>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <compilation targetFramework="4.5.1"/>
  </system.web>
</configuration>